openapi: 3.0.3
info:
  version: v1
  title: PatientManagement
  description: APIs for searching and managing patients for eCom.
  contact:
    name: Bird Of Pray Squad
    email: BPruess@medline.com
servers:
  - url: 'https://devapic.medline.com/ecom/patient/v1'
    description: Dev Environment
  - url: 'https://testapic.medline.com/ecom/patient/v1'
    description: Test Environment
  - url: 'https://apic.medline.com/ecom/ecom/patient/v1'
    description: Production Environment
paths:
  /patients/{shipToId}:
    get:
      tags:
        - Patients
      summary: Search patients by ship-to account
      description: |
        Returns a paginated list of patients scoped to a ship-to account. Supports free-text search, filtering, sorting, and pagination.
      operationId: searchPatients
      parameters:
        - name: shipToId
          in: path
          description: Ship-to account identifier used to scope the patient search.
          required: true
          schema:
            type: string
            minLength: 1
            example: '1563073'
        - name: q
          in: query
          description: 'Free-text search across first name, last name, patientId, and team name.'
          required: false
          schema:
            type: string
            maxLength: 200
            example: robert
        - name: teamId
          in: query
          description: Filter by team.
          required: false
          schema:
            type: string
            example: team-1
        - name: sortBy
          in: query
          description: Sort field.
          required: false
          schema:
            $ref: '#/components/schemas/PatientSortBy'
            example: PatientName
        - name: sortDir
          in: query
          description: Sort direction.
          required: false
          schema:
            $ref: '#/components/schemas/SortDirection'
            example: asc
        - name: pageNo
          in: query
          description: 1-based page index.
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: pageSize
          in: query
          description: Number of records per page.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 25
            example: 25
        - name: source
          in: query
          description: source For audit
          schema:
            type: string
            enum:
              - MANAGE_PATIENT
              - CART
            example: CART
        - name: sourceId
          in: query
          description: sourceId for Audit
          schema:
            type: string
            example: cardId
        - name: applicationSessionId
          in: query
          description: Application session id for Audit
          schema:
            type: string
            example: SessionId
      responses:
        '200':
          description: Paged patient search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientSearchResponse'
        '400':
          description: 'Invalid request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - PingTokenAuth: []
        - jwtTokenAuth: []

  /patients:
    post:
      tags:
        - Patients
      summary: Create a new patient
      operationId: createPatient
      requestBody:
        description: Patient object to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      responses:
        '201':
          description: Patient created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: Patient already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - PingTokenAuth: []
        - jwtTokenAuth: []

  /patients/{id}:
    get:
      tags:
        - Patients
      summary: Get patient by ID
      operationId: getPatient
      parameters:
        - name: id
          in: path
          description: Patient ID (GUID)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Patient details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          description: Patient not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - PingTokenAuth: []
        - jwtTokenAuth: []

    put:
      tags:
        - Patients
      summary: Update a patient (Full)
      operationId: updatePatient
      parameters:
        - name: id
          in: path
          description: Patient ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      responses:
        '200':
          description: Patient updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          description: Patient not found
      security:
        - PingTokenAuth: []
        - jwtTokenAuth: []

    patch:
      tags:
        - Patients
      summary: Update a patient (Partial)
      operationId: patchPatient
      parameters:
        - name: id
          in: path
          description: Patient ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      responses:
        '200':
          description: Patient updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          description: Patient not found
      security:
        - PingTokenAuth: []
        - jwtTokenAuth: []

    delete:
      tags:
        - Patients
      summary: Delete a patient
      operationId: deletePatient
      parameters:
        - name: id
          in: path
          description: Patient ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Patient deleted
        '404':
          description: Patient not found
      security:
        - PingTokenAuth: []
        - jwtTokenAuth: []

  /patients/{id}/pin:
    put:
      tags:
        - Patients
      summary: Pin or Unpin a patient
      operationId: pinPatient
      parameters:
        - name: id
          in: path
          description: Patient ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isPinned:
                  type: boolean
                  description: True to pin, False to unpin
              required:
                - isPinned
      responses:
        '200':
          description: Pin status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK
                  isPinned:
                    type: boolean
        '404':
          description: Patient not found
      security:
        - PingTokenAuth: []
        - jwtTokenAuth: []

tags:
  - name: Patients
    description: Patient search and management
components:
  securitySchemes:
    PingTokenAuth:
      type: apiKey
      description: Ping Token
      name: Ping-Authorization
      in: header
    jwtTokenAuth:
      type: apiKey
      description: JWT Token
      name: Authorization
      in: header
  schemas:
    PatientSortBy:
      type: string
      enum:
        - PatientName
        - PatientId
        - LastOrderDate
        - LastOrderStatus
        - PrimaryPayer
        - Team
        - Priority
      example: PatientName
    SortDirection:
      type: string
      enum:
        - asc
        - desc
      default: asc
      example: asc
    PatientSearchResponse:
      type: object
      properties:
        shipToId:
          type: string
          description: Ship-to account identifier used to scope the search.
        pageNo:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 200
        totalCount:
          type: integer
          description: Total number of matching records (not just this page).
          minimum: 0
        patients:
          type: array
          items:
            $ref: '#/components/schemas/Patient'
      required:
        - shipToId
        - pageNo
        - pageSize
        - totalCount
        - patients
    # Renamed from PatientListItem to Patient for general CRUD use
    Patient:
      type: object
      properties:
        patientKey:
          type: string
          description: Internal unique identifier (UUID/string).
          example: pt-8f2c0b5d
        patientId:
          type: string
          nullable: true
          description: Display patient identifier if available.
          example: '00000000'
        firstName:
          type: string
          example: Robert
        lastName:
          type: string
          example: Baratheon
        dateOfBirth:
          type: string
          nullable: true
          format: date
          example: '1970-01-01'
        priority:
          $ref: '#/components/schemas/PatientPriority'
        team:
          $ref: '#/components/schemas/TeamRef'
        primaryPayer:
          $ref: '#/components/schemas/PayerRef'
        lastOrder:
          $ref: '#/components/schemas/LastOrderSummary'
      required:
        - patientKey
        - firstName
        - lastName
        - priority
    PatientPriority:
      type: string
      enum:
        - Pinned
        - Normal
      example: Pinned
    TeamRef:
      type: object
      nullable: true
      properties:
        teamId:
          type: string
          example: team-1
        name:
          type: string
          example: Team 1
    PayerRef:
      type: object
      nullable: true
      properties:
        payerId:
          type: string
          example: payer-anthem-blue
        payerType:
          type: string
          enum:
            - Insurance
            - Agency
            - SelfPay
            - Other
          example: Insurance
        displayName:
          type: string
          example: HHA - Anthem Blue
    LastOrderSummary:
      type: object
      nullable: true
      properties:
        orderNumber:
          type: string
          example: '721030618'
        status:
          type: string
          example: Delivered
        orderDate:
          type: string
          format: date
          example: '2026-01-15'
        displayText:
          type: string
          description: Pre-formatted UI string.
          example: 721030618 - Delivered
    ApiError:
      type: object
      properties:
        code:
          type: string
          example: bad_request
        message:
          type: string
          example: Invalid request.
        correlationId:
          type: string
          nullable: true
          example: c7e8b8c0b2c2451b
        details:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorDetail'
      required:
        - code
        - message
    ApiErrorDetail:
      type: object
      properties:
        field:
          type: string
          nullable: true
          example: sortBy
        issue:
          type: string
          example: 'must be one of: PatientName, PatientId, LastOrderDate'
